{{ if isset .Site.Params "presentations" }}
{{ if .Site.Params.presentations.enable }}
{{ if gt (len .Site.Data.presentations) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.presentations.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.presentations.subtitle }}
                </p>

                <div class="homepage owl-carousel">
                    {{ range .Site.Data.presentations }}
                    <div class="item" style="padding: 0 1em">
                        <div class="row">
                            <div class="col-sm-5">
                                <h1>{{ .title }}</h1>
				<p>
				  {{ .location }} ★ {{ .date }}
				</p>
                                <p>
				  {{ .description | safeHTML }}
				</p>
				<p>
				  <a href="{{.slides_url}}">Slides</a>
				  <a href="{{.video_url}}">Video</a>
				</p>
                            </div>
                            <div class="col-sm-7" style="text-align: center">
                              <a href="{{.video_url}}">
				<img class="img-responsive" style="display: inline"
				     src="{{ .image }}" alt="">
			      </a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
