/* Makes the footer to be always at the bottom by having #content fill in
   all available screen space. */

#all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
   flex: 1;
}
