<div class="row portrait{{ if .Get "right" }} portrait-right{{ end }}">
  <div class="col-md-3{{ if .Get "right" }} col-md-push-9{{ end }}">
    <img src="/img/portraits/{{ .Get "src" }}" title="{{ .Get "name" }}" />
  </div>
  <div class="col-md-9{{ if .Get "right" }} col-md-pull-3{{ end }}">
    <h2>{{ .Get "name" }}</h2>
    <p>
      {{ .Get "description" | safeHTML }}
    </p>
    {{ if .Get "pep" }}
    <p>
      {{ with .Get "name" }}
      {{ . }}'{{ if strings.HasSuffix . "s" | not }}s{{ end }}
      work is being funded by the
      <a href="https://pep.foundation">p≡p foundation</a>.
      {{ end }}
    </p>
    {{ end }}
  </div>
</div>
